{% extends 'base.html.twig' %}

{% block title %}AMIENS BC BEA{% endblock %}

{% block body %}
<div class="bea">
<div class="row">
<H1> boxe éducative assaut</H1>
<p>  forme de boxe ou les coups  ne sont pas  porté généralement pratique pour les enfats de 8 à 14 ans</p>
<img src="image/logoa.png" alt="">
    <a href="{{path("app_cart")}}" class="btn btn-dark rounded-pill">Ajouter au panier</a></div>
</div>
</div>
{% endblock %}
