{% extends 'base.html.twig' %}

{% block title %}AMIENSBC AMATEUR {% endblock %}

{% block body %}
<div class="bea">
<div class="row">
<H1> boxe Amateur</H1>
<p>  boxe avec les coups porté avec casque</p>
<p>150€</p>
<img src="image/logob.png" alt="">
<a href="{{path("app_cart")}}" class="btn btn-dark rounded-pill">Ajouter au panier</a>
</div>
</div>
{% endblock %}





