{% extends 'base.html.twig' %}

{% block title %}AMIENS BC AEROBOXE{% endblock %}

{% block body %}
<div class="bea">
< class="row">
<H1> Aeroboxe</H1>
<p>choregraphie avec la gestuelle de boxe </p>
<img src="image/logod.png" alt="">
    <a href="{{path("app_cart")}}" class="btn btn-dark rounded-pill">Ajouter au panier</a>
</div>
</div>
{% endblock %}
