{% extends 'base.html.twig' %}

{% block title %}AMIENSBC BOXE PRO {% endblock %}

{% block body %}
<div class="bea">
< class="row">
<H1> boxe professionelle</H1>
<p>  boxe   sans  casque avec bandage dur </p>
<img src="image/logodc.png" alt="">
    <a href="{{path("app_cart")}}" class="btn btn-dark rounded-pill">Ajouter au panier</a>
</div>
</div>
{% endblock %}
